# ========================
# Node / Angular / Ionic
# ========================
node_modules/
dist/
www/
build/
out-tsc/
tmp/
coverage/

# ========================
# Ionic / Capacitor
# ========================
.ionic/
platforms/
plugins/

# ========================
# Angular
# ========================
.angular/
.angular/cache/

# ========================
# Logs
# ========================
*.log
npm-debug.log*
yarn-error.log*

# ========================
# Environment files
# ========================
.env
.env.*

# ========================
# IDEs
# ========================
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/extensions.json

# ========================
# System files
# ========================
.DS_Store
Thumbs.db
