<ion-header>
  <ion-toolbar>
    <ion-title>Página de Apresentação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao App de Previsão do Tempo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este aplicativo permite que você pesquise as informações meteorológicas de qualquer lugar do mundo e veja as condições climáticas atuais.
      Você também pode visualizar o clima de um lugar aleatório.
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Botão para pesquisar o clima -->
        <ion-button expand="full" (click)="navigateToWeatherPage()">Pesquisar Clima</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <!-- Botão para buscar uma cidade aleatória -->
        <ion-button expand="full" (click)="getRandomWeather()">Clima Aleatório</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
